<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Bitcoin:</b>
  <%= @currency.bitcoin %>
</p>
<p>
  <b>Lightcoin:</b>
  <%= @currency.lightcoin %>
</p>
<p>
  <b>Dogecoin:</b>
  <%= @currency.dogecoin %>
</p>
