-# navigation styled for Bootstrap 3.0
.container
  %nav.navbar
    %ul.nav.navbar-nav.clearfix
      %li.nav-item
        = link_to "Home", root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav
      = render 'layouts/navigation_links'
