<div class="container">
  <nav class="navbar">
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: 'navbar-brand' %>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </nav>
</div>
